canvas {
    background: rgb(13, 25, 189);
  }
  
  /* 4. Over lay the score on the top left corner of the canvas.*/
  #score {
    position: absolute;
    top: 20px;
    left: 40%;
    z-index: 100;
    font-weight: bold;
    font-size: 70px;
    color: rgb(194, 37, 37);
  }